In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Loading the CSV Files
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3QQF52FNVN7CL,5.0,0.0,0.0,N,N
1,R3R84TII79MLE6,5.0,0.0,0.0,N,Y
2,R1ZE7JKA0MC0ZY,5.0,0.0,0.0,N,Y
3,R2QFQL7HDN0Y1B,5.0,0.0,0.0,N,Y
4,R16E8QLQ93A784,4.0,0.0,0.0,N,Y

In [4]:
# Filtering by Total Votes
filtered_df = vine_df[vine_df['total_votes'] >= 20]
filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
253,R2QDVR5R8R53L7,3.0,32.0,32.0,N,Y
364,R3T7NYEZHXFXM7,1.0,30.0,31.0,N,Y
425,R2HX22QSR9R8IQ,1.0,44.0,45.0,N,Y
500,R1DVBH2RER1H5Z,1.0,30.0,33.0,N,Y
1098,R27TCG5MBJDA98,5.0,21.0,21.0,N,Y

In [5]:
# Dividing helpful votes over total votes to find the best reviews for customers.
new_filtered_df = filtered_df.loc[filtered_df.helpful_votes / filtered_df.total_votes >= 0.5]
new_filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
253,R2QDVR5R8R53L7,3.0,32.0,32.0,N,Y
364,R3T7NYEZHXFXM7,1.0,30.0,31.0,N,Y
425,R2HX22QSR9R8IQ,1.0,44.0,45.0,N,Y
500,R1DVBH2RER1H5Z,1.0,30.0,33.0,N,Y
1098,R27TCG5MBJDA98,5.0,21.0,21.0,N,Y

In [6]:
# Determining the vine reviews that were paid and creating a dataframe
reviews_df = new_filtered_df[new_filtered_df['vine'] == 'Y']
reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
262681,R1JQ0NZQPHAP5I,3.0,17.0,21.0,Y,N
1785423,R6U9701C3BGO6,3.0,139.0,147.0,Y,N
1785565,R1XK3ALB45D7N4,5.0,33.0,34.0,Y,N
1785575,R1IZCSTLX81D6C,5.0,31.0,33.0,Y,N
1785596,R2C8NC8EQLH4JF,3.0,45.0,48.0,Y,N

In [7]:
# Determing the vine reviews that weren't paid and creating a dataframe
no_reviews_df = new_filtered_df[new_filtered_df['vine'] == 'N']
no_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
253,R2QDVR5R8R53L7,3.0,32.0,32.0,N,Y
364,R3T7NYEZHXFXM7,1.0,30.0,31.0,N,Y
425,R2HX22QSR9R8IQ,1.0,44.0,45.0,N,Y
500,R1DVBH2RER1H5Z,1.0,30.0,33.0,N,Y
1098,R27TCG5MBJDA98,5.0,21.0,21.0,N,Y

In [9]:
# Counting total vine programs
count_review = len(reviews_df)
count_review

33

In [10]:
# Counting total none vine programs
count_no_review = len(no_reviews_df)
count_no_review

45388

In [11]:
vine_max_review = len(reviews_df[reviews_df['star_rating']==5])
vine_max_review

15

In [12]:
no_vine_max_review = len(no_reviews_df[no_reviews_df['star_rating']==5])
no_vine_max_review

23733

In [13]:
# Percentage 
vine_max_review/count_review

0.45454545454545453

In [14]:
#Percentage
no_vine_max_review/count_no_review

0.5228915131752886